<div class="wrapper">

  <div class="collection-wrapper__inner">

    <section class="content-area collection-area">
      <h1 class="area-title collection-area__title">Acervo</h1>

      <% @collections.each do |collection| %>
        <p><%= link_to collection.title, collection %></p>
        <p><%= collection.description %></p>
        <p><%= collection.body %></p>
        <!-- <img src="/assets/<%= collection.img %>"> -->
      <% end %>

    </section>

  </div>

</div>