<div class="wrapper">

  <div class="collection-wrapper__inner">

    <section class="content-area collection-area">
      <h1 class="area-title collection-area__title">Acervo - <%= @collection.title %></h1>

      <p><%= @collection.description %></p>
      <p><%= raw(@collection.body) %></p>
      <img src="/assets/<%= @collection.img %>">

    </section>

  </div>

</div>