<div class="wrapper">

  <div class="collection-wrapper__inner">

    <section class="content-area collection-area">
      <h1 class="area-title collection-area__title">Acervo - <%= @collection.title %></h1>

      <figure>
        <%= image_tag "#{@collection.img}", :class => "collection-item__img img-#{@collection.slug}" %>
        <figcaption><%= @collection.description %></figcaption>
      </figure>
      <%= raw(@collection.body) %>

    </section>

  </div>

</div>