<div class="wrapper">
  <div class="history-wrapper__inner">

    <section class="content-area history-area">
      <h1 class="area-title about-area__title">Um pouco de história</h1>

      <blockquote data-scroll-reveal="enter ease-in-out, after 0.3s">
        <h3 class="quote-title">Época dos dispositivos mecânicos (500 A.C. - 1880)</h3>
        <p>
          Segundo Monteiro (2001), o conceito de efetuar cálculo com algum tipo de equipamento data, pelo menos, do século V a.C. surgiu com os babilônicos e sua invenção do ábaco. Esse dispositivo permite a contagem de valores, tornando possível aos comerciantes babilônicos registrar dados numéricos sobre suas colheitas.
        </p>
        <p>
          A primeira evolução do ábaco surgiu somente no século XVII (1642), quando o filósofo e matemático francês Blaise Pascal construiu um contador mecânico que realizava operações aritméticas de soma e subtração por meio de rodas e engrenagens dentadas. A máquina sendo inteiramente mecânica era eficaz para a época e a linguagem de programação era PASCAL em homenagem ao seu criador. (MONTEIRO, 2001).
        </p>
        <p>
          Algum tempo após esta invenção, o filósofo matemático alemão Gottfried Leibniz construiu uma calculadora mais completa que realizava as quatro operações aritméticas, o que incluía multiplicação e divisão. Era uma duplicata da invenção de Pascal acrescido de dois conjuntos de rodas. Ambas as máquinas eram manuais.
        </p>
        <p>
          O primeiro computador digital foi projetado pelo matemático Inglês Charles Babbage, chamada de máquina analítica, que era na realidade um computador mecânico pois possuía os mesmos componentes de um computador atual: memória, processador e saída. A máquina era capaz de armazenar 1000 números de 20 algarismos e que possuía um programa que podia modificar o funcionamento da máquina fazendo-a realizar diferentes cálculos. Embora Babbage tenha empregado maior parte de sua vida e de sua fortuna para construir sua “máquina analítica”, ele nunca conseguiu vê-la funcionando de modo apropriado, pois era inteiramente mecânica e a tecnologia da sua época não poderia produzir as rodas as engrenagens e as correias de alta precisão que era necessárias. A linguagem de programação usada tinha o nome de ADA em homenagem a primeira programadora de computador da história chamada Ada Lovelace que criou o programa da máquina de Babbage onde era possível realizar uma operação de adição em um segundo e uma multiplicação em um minuto.
        </p>
      </blockquote>

      <blockquote data-scroll-reveal="enter ease-in-out, after 0.3s">
        <h3 class="quote-title">Época dos dispositivos Eletromecânicos (1880 – 1930)</h3>

        <p>
          Com a invenção do motor elétrico, no fim do século XIX, surgiu uma grande quantidade de máquinas de somar acionadas por motores elétricos (MONTEIRO, 2001). Segundo a ideia de Monteiro, ainda no final do século XIX, nos Estados Unidos. O estatístico Herman Hollerith idealizou uma solução eficiente para o censo de 1890. Hollerith concebeu diversas máquinas elétricas para a soma e contagem de dados, oa quais eram representados sob a forma de perfurações adequadamente distribuídas em fita de papel. Com esse processo, os resultados do censo de 1890 ficaram prontos em três anos, economizando vários anos de trabalho (aproximadamente 10 anos de processamento manual).
        </p>

        <p>
          Em 1896 o sucesso de Hollerith conduziu à criaçao da Tabulating Machine Company, onde ele vendia uma linha de máquinas de tabulação com cartões perfurados. Em 1914 uma banqueiro persuadiu três companhias a se juntarem, entre elas a empresa de Hollerith, formando a Computer Tabulating Recording Corporation. Thomas Watson foi contratado como gerente geral, e em 1924 ele mudou o nome da companhia para IBM – International Business Machines. Atualmente os cartoes perfurados não são mais uilizados, mas até 1980 eles foram um dos pricipais elementos de entrda de dados dos computadores digitais.
        </p>
      </blockquote>

      <blockquote data-scroll-reveal="enter ease-in-out, after 0.3s">
        <h3 class="quote-title">A primeira geração (1945 - 1955) - Válvulas e painéis de programação</h3>

        <p>
          Nos meados da década de 40, as primeiras máquinas tinham ciclos medidos em segundos, pois usavam relés mecânicos muito lentos. Os relés foram mais tarde substituídos por válvulas. Essas máquinas eram enormes e ocupavam salas inteiras com dezenas de milhares de válvulas, além disso, eram milhões de vezes mais lentas que  os mais baratos computadores pessoais de hoje. (TANENBAUM, 2003).
        </p>
        <p>
          O primeiro computador eletrônico e digital, foi denominado ENIAC (Eletronic Numerical Integrator And Computer) e foi projetado por John Mauchly e John P. Eckert, tendo funcionado de 1946 até 1955.
        </p>

        <p>
          O ENIAC era uma máquina gigantesca, contendo mais de 17.000 válvulas e 800 quilômetros de cabos. Pesava cerca de 30 toneladas e consumia uma enorme quantidade de eletricidade, além de válvulas, que queimavam com grande frequência devido ao calor (MONTEIRO, 2001).
        </p>

        <p>
          Em 1949, a empresa fundada por Mauchly e Eckert construiu com sucesso o primeiro computador para fins comerciais, o UNIVAC I (Universal Automatic Computer) para processar os dados do censo de 1950. A UNIVAC fabricou diversos outros tipos de computadores, a começar pelo UNIVAC II e, em seguida, a série 1100, mais voltada para computação científica. Em 1953 a IBM lançou seu primeiro computador eletrônico, o IBM-701 que possuía uma memória com 2K palavras de 36 bits. Em 1955 lançou o IBM-702, e em 1956, foi lançado o IBM-704, com 4K palavras de memória e, finalmente em 1958 a IBM lançou outra máquina, mais aperfeiçoada, o IBM-709. Nessa ocasião, a IBM já se destacava no mercado e relação  UNIVAC, que vinha sendo n.o 1 desde 1950.
        </p>
      </blockquote>

      <blockquote data-scroll-reveal="enter ease-in-out, after 0.3s">
        <h3 class="quote-title">Segunda geração (1955 - 1965) - Transistores e sistemas em lotes</h3>
        <p>
          A introdução do transistor em meados da década de 50 mudou o quadro radicalmente. Os computadores tornaram-se suficientemente confiáveis para que pudessem ser fabricados e comercializados com a expectativa de que continuariam a funcionar por tempo suficiente para executar algum trabalho útil. Pela primeira vez, havia uma clara separação entre projetistas, fabricantes, programadores e técnicos de manutenção (TANENBAUM, 2003). Essas máquinas – então denominadas computadores de grande porte (mainframes) – ficavam isoladas em salas especiais com ar-condicionado, operadas por equipes profissionais. Somente grandes corporações, agências governamentais ou universidades podiam pagar os vários milhões de dólares para vê-las.
        </p>
        <p>
          Por causa do alto custo do equipamento, era natural que se começasse a buscar maneiras de reduzir o desperdício de tempo do uso da máquina. A solução geralmente adotada era a do sistema em lote (batch).  A ideia era gravar vários Jobs (um programa ou conjunto de programas) em fita magnética usando um computador relativamente mais barato, como o IBM 1401, que era muito bom para ler cartões, copiar fitas e imprimir saídas, mas não era tão eficiente em cálculos numéricos (TANENBAUM, 2003).
        </p>
        <p>
          Com esta geração de computadores, outros fatos historicamente importantes também aconteceram:
        </p>
        <ul class="quote-list">
          <li>A IBM transformou a série 700 para 7000. Primeiramente o 7090, e mais tarde o 7094, que possuía um ciclo de instrução de dois microssegundos e 32K palavras, ainda de 36 bits;</li>
          <li>O aparecimento de outra companhia fabricante de computadores, a DEC – Digital Equipment Corporation;</li>
          <li>O aparecimento de unidades aritméticas e lógicas mais complexas, assim como unidades de controle;</li>
          <li>O aparecimento de linguagens de programação de nível superior ao das linguagens Assembly da época;</li>
          <li>O surgimento de outra companhia importante, a Control Data Corporation, que lançou, em 1964 o sistema CDC-6000, voltado primeiramente para o processamento científico. Era uma máquina com palavras de 60 bits.</li>
        </ul>
      </blockquote>

      <blockquote data-scroll-reveal="enter ease-in-out, after 0.3s">
        <h3 class="quote-title">Terceira geração - Computadores com circuitos interligados</h3>
        <p>
          O desenvolvimento da tecnologia de circuitos interligados surgiu devido a necessidade de solucionar problemas de acomodação de componentes, onde esses equipamentos aumentavam na mesma proporção que a capacidade das máquinas e a ideia era fazer o contrário. Através dos circuitos interligados se pode formar múltiplos transistores, em um único elemento de silício, de modo que com essa tecnologia um circuito lógico fique acomodado em uma só pastilha (chip) de silício.
        </p>

        <p>
          Segundo Monteiro, em 1958, Jack Kilby, colocou dois circuitos interligados em uma peça de germânico. Logo após, Robert Noyce, utilizou-se das técnicas recém criadas e integrou múltiplos componentes em um substrato de silício. Os dispositivos comerciais que se sucederam mostraram a vantagem do silício sobre o germânio e permitiram o surgimento de uma nova geração de máquinas, mais poderosas e menores.
        </p>

        <p>
          Em 1964, a IBM se utilizou das recentes inovações tecnológicas na área de microeletrônica (circuitos interligados) e lançou a sua mais famosa “família” de computadores, a séria /360.
        </p>

        <p>
          Entre as inovações dessa geração podemos citar:
        </p>

        <ul class="quote-list">
          <li>O conceito de família de computadores, em e não mais apenas máquina individual, ou seja, o mesmo tipo de máquina com diferentes capacidades e preços;</li>
          <li>A utilização de unidade de controle com microprogramação;</li>
          <li>O emprego de uma técnica chamada multiprogramação, onde vários produtos compartilham a mesma memória principal e dividem o uso da UCP;</li>
          <li>A elevada capacidade de processamento (para a época), com palavra de 32 bits e ciclo de instrução de até 250 nanosegundos e capacidade de armazenamento na memória principal de 16 Mbytes;</li>
          <li>Memória principal orientada a byte, isto é, cada célula de MP armazena 8 bits de informação.</li>
          <li>O sistema operacional OS/360.</li>
        </ul>
      </blockquote>

      <blockquote data-scroll-reveal="enter ease-in-out, after 0.3s">
        <h3 class="quote-title">Quarta geração - VLSI</h3>
        <p>
          De acordo com Monteiro, o termo VLSI (Very Large Scale Integration), integração em larga escala, caracteriza uma classe de dispositivos eletrônicos contendo milhares de transistores em um centímetro quadrado de silício. Este dispositivo denominado pastilha (chip) mencionado na terceira geração, vem constituindo a base da estrutura de todos os principais sistemas de computação modernos. Por volta de 1971/1972, essa técnica de miniaturização e componentes eletrônicos conduziu o desenvolvimento de computadores pessoais ou microcomputadores. E é nesse período que dois grandes nomes da tecnologia começam a se destacar, Bill Gates (fundador da Microsoft) e Steve Jobs (fundador da Apple) fazendo com que esta parte da história seja considerada uma das mais importantes para a evolução dos computadores e a disponibilização deles em nossas casas. Podemos ainda dizer que, foi o que impulsionou este constante ciclo de atualizações que enfrentamos nos dias atuais. Nessa época foram criados o computador pessoal, o sistema operacional, interface gráfica e o mouse, sendo apresentados pela Microsoft com DOS e depois Windows e a Apple com o Apple 2, Lisa e Macintosh.
        </p>
      </blockquote>

      <blockquote data-scroll-reveal="enter ease-in-out, after 0.3s">
        <h3 class="quote-title">Quinta geração - Processadores com vários núcleos e a computaçnao em nuvem</h3>

        <p>
          Em meados de 2001, o Windows XP surge com uma interface amigável ao usuário e tendo suporte para 32 e 64 bits, algum tempo depois, surge o que seria definido como a possibilidade de conectar periféricos ao computador sem a necessidade de desligá-lo e que seria chamada de conector USB (Universal Serial Bus). Nos deparamos a todo momento com a atualização e modificação dos modelos de Sistemas Operacionais que rodam em nossos computadores e com isso, a evolução do hardware segue da mesma forma devido a necessidade de processamento e agilidade nas aplicações como por exemplo os lançamentos constantes de novos modelos de processadores com cada vez mais núcleos e maior poder de processamento. Os tablets que aos poucos estão tomando espaço, deixando para trás agendas de compromissos e muitas vezes até mesmo laptops, pois estão cada vez com mais funcionalidades e rapidez de processamento, fazendo tudo que um computador pessoal faz.
        </p>

        <p>
          Cada dia que passa, as pessoas conhecerão cada vez menos dos equipamentos pois com esta rápida evolução não conseguiremos chegar a dominá-las em sua totalidade, ficando muito poder de processamento em desuso. Na quinta geração, vemos também que não mais nos adianta grandes discos rígidos para armazenamento de arquivos uma vez que, a tendência é que, todos os nossos dados estejam disponíveis na “nuvem” e que poderemos acessá-los de qualquer lugar onde estivermos, bastando somente ter um dispositivo para conexão e uma rede de internet para que possamos nos conectar e assim ter acesso a todas as nossas informações. Muita coisa ainda vem surgindo nesta geração como dispositivos cada vez menores e com maiores funcionalidades que a versão anterior.
        </p>

        <p>
          Podemos considerar a importância deste Museu pelo fato de que muito em breve, uma quantidade menor de periféricos estará disponível aos usuários, sendo necessário somente uma conexão e pequenos dispositivos para se conectar on-line no que hoje chamamos de Computação em Nuvem (Cloud Computing) e outro fator importante é a robótica que está cada dia mais avançada onde muitos equipamentos domésticos e até nossos meios de transportes estão carregados de pequenos agentes inteligentes que buscam encontrar as melhores situações para ajudar o usuário no seu dia-dia.

        </p>
      </blockquote>

      <small class="text-copyright">Autores do texto: Graziele Grossklags, Prof. Anderson J. Souza</small>
    </section>

  </div>
</div>