<section class="welcome-block">
  <div class="wrapper">
    <h1 class="welcome-block__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eveniet voluptas porro voluptatum accusantium, numquam blanditiis.</h1>
  </div>
</section>

<section class="site-promo">
  <div class="wrapper">
    <div class="site-promo__box site-promo__collection">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt totam aperiam odit architecto, culpa quis doloremque corporis nulla unde libero, tenetur a, rerum facere consequuntur vitae. Vitae quam molestias maiores.</p>
    </div>
    <div class="site-promo__box site-promo-timeline">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa minus similique magnam, repudiandae, rerum sunt quidem consequatur vero quisquam delectus hic quis architecto odit, illo accusamus doloremque commodi vitae et.</p>
    </div>
    <div class="site-promo__box">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, repellendus, tenetur. Quibusdam consectetur fuga adipisci qui numquam, necessitatibus voluptatem dignissimos debitis, aut? Velit numquam quasi laborum, recusandae tenetur ipsa est.</p>
    </div>
  </div>
</section>