<section class="welcome-block">
  <div class="wrapper">
    <p class="welcome-block__title">Quanto mais longe você conseguir olhar para trás, mais longe você verá para frente. <span>Winston Churchill</span></p>
  </div>
</section>

<section class="site-promo site-promo__welcome">
  <div class="wrapper">
    <div class="site-promo__box">
      <h1 class="site-promo__title">Seja bem vindo ao site do Museu do Computador!</h1>
      <p>O site do Museu do Computador é um projeto de pesquisa desenvolvido pelo acadêmico Lucas da Silva, <br>do Centro Universitário Católica de SC.</p>
      <a href="/sobre" class="btn btn-more">Saiba mais</a>
    </div>
  </div>
</section>