<section data-scroll-reveal="enter ease-in-out, after 0.3s" class="site-promo site-promo__welcome">
  <div class="wrapper">
    <div class="site-promo__box">
      <h1 class="site-title__big site-promo__title">Seja bem vindo ao Museu do Computador!</h1>
      <p>O site do Museu do Computador é um projeto de pesquisa desenvolvido no<br> Centro Universitário Católica de SC.</p>
      <a href="/sobre" class="btn btn-more"><span>Saiba mais</span></a>
    </div>
  </div>
</section>

<section class="welcome-block">
  <div class="overlay-bg"></div>
  <div class="wrapper">
    <p data-scroll-reveal="enter .3s and then ease-in" class="welcome-block__title">Quanto mais longe você conseguir olhar para trás, mais longe você verá para frente. <span>Winston Churchill</span></p>
  </div>
</section>

<section data-scroll-reveal="enter ease-in-out, after 0.3s" class="site-history">
  <div class="wrapper">
    <h1 class="site-title__big site-history__title">Conheça um pouco da história</h1>
    <p>Conheça um pouco mais sobre a história dos computadores!</p>
    <a href="/historia" class="btn btn-more"><span>Quero conhecer</span></a>
  </div>
</section>

<section class="collection-block">
  <a href="/acervo"><div class="overlay-bg"></div></a>
  <div class="wrapper">
    <a href="/acervo"><p data-scroll-reveal="enter .3s and then ease-in" class="collection-block__title">Visite o acervo e conheça alguns itens.</p></a>
  </div>
</section>

<section data-scroll-reveal="enter ease-in-out, after 0.3s" class="site-contact__block">
  <div class="wrapper">
    <h1 class="site-title__big site-contact__title">Entre em contato</h1>
    <p>Se você tiver interesse em ajudar o Museu do Computador, entre em contato conosco!</p>
    <a href="/contato" class="btn btn-more"><span>Quero ajudar</span></a>
  </div>
</section>