<section class="welcome-block">
  <div class="wrapper">
    <h2 class="welcome-block__title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque eveniet voluptas porro voluptatum accusantium, numquam blanditiis.</h2>
  </div>
</section>

