<section class="welcome-block">
  <div class="wrapper">
    <p data-scroll-reveal="enter .3s and then ease-in" class="welcome-block__title">Quanto mais longe você conseguir olhar para trás, mais longe você verá para frente. <span>Winston Churchill</span></p>
  </div>
</section>

<section data-scroll-reveal="enter left move 50px, after 0.3s" class="site-promo site-promo__welcome">
  <div class="wrapper">
    <div class="site-promo__box">
      <h1 class="site-title__big site-promo__title">Seja bem vindo ao site do Museu do Computador!</h1>
      <p>O site do Museu do Computador é um projeto de pesquisa desenvolvido pelo acadêmico Lucas da Silva, <br>do Centro Universitário Católica de SC.</p>
      <a href="/sobre" class="btn btn-more"><span>Saiba mais</span></a>
    </div>
  </div>
</section>

<section data-scroll-reveal="enter right move 50px, after 0.3s" class="site-collection">
  <div class="wrapper">
    <h1 class="site-title__big site-collection__title">Visite o acervo</h1>
    <p>Faça uma viagem virtual no tempo e conheça mais sobre o passado dos computadores!</p>
    <a href="/acervo" class="btn btn-more"><span>Saiba mais</span></a>
  </div>
</section>