<div class="wrapper">

  <section class="contact-area">
    <h2 class="contact-area__title">Contato</h2>

    <%= render 'contacts/new' %>
  </section>

  <aside class="contact-sidebar">

    <p>Tens alguma dúvida? Entre em contato conosco através do formulário.</p>

  </aside>

</div>