<div class="wrapper">

  <section class="contact-area">
    <h1 class="area-title contact-area__title">Contato</h1>

    <%= render 'contacts/new' %>

    <div class="contact-area__errors"></div>
  </section>

  <aside class="contact-sidebar">

    <p>Tens alguma dúvida? Entre em contato conosco através do formulário.</p>

  </aside>

</div>