<div class="wrapper">

  <div class="about-wrapper__inner">

    <section class="content-area about-area">
      <h1 class="area-title about-area__title">Sobre o Museu do Computador</h1>

      <figure class="about-img__intro">
        <%= image_tag "m1/solution-16.jpg", :class => 'about-img__pc-fc1' %>
        <figcaption>Primeiro computador do Centro Universitário Católica de Santa Catarina.</figcaption>
      </figure>

      <blockquote>
        <p>
          Com a rápida evolução das ferramentas tecnológicas e o surgimento de novas tecnologias, grandes volumes de equipamentos caem em desuso e tornam-se ultrapassados tão rapidamente quanto surgem. Este fato faz com que a maioria das pessoas não acompanhe esta evolução e com isso, não conheçam a real necessidade de determinados equipamentos, vendo-os apenas como ferramentas antigas.
        </p>
        <p>
          Buscando trazer este conhecimento para as pessoas, com o intuito de manter uma história da evolução tecnológica que vivemos, apresentando para a sociedade e para os acadêmicos de várias instituições de ensino que queiram conhecer mais sobre este fabuloso mundo, surge a ideia da criação do Museu do Computador de Jaraguá do Sul. A proposta deste projeto é implantar um museu do computador no <a class="go-to__catolicasc" href="http://www.catolicasc.org.br/" target="_blank">Centro Universitário – Católica de Santa Catarina – Campus Jaraguá do Sul</a>, que serviria de referência para toda a região e agregaria muito mais conhecimento para todos, sendo estudantes ou não. Mostrando ferramentas tecnológicas do passado juntamente com a sua história e importância para a época do seu lançamento.
        </p>
      </blockquote>

      <small class="text-copyright">Autores do texto: Graziele Grossklags, Prof. Anderson J. Souza</small>

    </section>

  </div>

</div>