<div class="wrapper">

  <div class="about-wrapper__inner">

    <section class="about-area">
      <h1 class="area-title about-area__title">Sobre</h1>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque veniam ea voluptates quam doloribus fugit quae numquam eveniet molestiae expedita ullam corporis natus, voluptatum omnis tempore rerum labore consequatur excepturi?</p>
    </section>

  </div>

</div>