/*------------------------------------*\
  Base styles
\*------------------------------------*/

@import 'colors';
@import 'helpers';

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
  min-height: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;

  @include media($large-desktop) {
    font-size: 1em;
  }

  @include media($desktop) {
    font-size: 1em;
  }

  @include media($tablet) {
    font-size: .875em;
  }

  @include media($mobile) {
    font-size: .75em;
  }
}

body {
  background: $apple-blah;
  color: $b2;
  @include flex-body;
}

a {
  text-decoration: none;
  color: $b2;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  @include outer-container;
  padding: em(20);
  @include media($tablet) {
    padding: 0 em(30);
  }
}

.site-logo__img {
  width: 100px;
  height: 100px;
  fill: $b2;
}

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  -webkit-flex: 1 0 auto;
}