/*------------------------------------*\
  Colors
\*------------------------------------*/

$b: #000;
$b2: #2b2b2b;
$rebecca: #663399;

// Computer Museum
$cm-ablue: #232429;
$cm-ared: #942536;
$cm-agrey: #EFEFEF;
$cm-blue: #1F648E;
$cm-white: #FFF;

// Apple Computers Schema
$apple-grey: #6C7479;
$apple-light-grey: #B2C0CD;
$apple-white: #F9F9F9;
$apple-blah: #D7D4C7;

// Inside a computer Schema
$in-blue-grey: #121B2A;
$in-blue: #214373;
$in-soft-blue: #5A9FD8;
$in-light-blue: #77D0F0;
$in-light-green: #CAF6F7;

// OK Computer Schema
$c-grey-blue: #A3B6C5;
$c-dusty-ice: #8B9AAF;
$c-light-blue: #9CC0E4;
$c-blue: #43729C;
$c-white: #F6F9FE;

// Hight Tech Schema
$ht-black: #111518;
$ht-light-blue: #1197C7;
$ht-soft-black: #293136;
$ht-grey: #B0B1B1;
$ht-dream: #94C7D7;

// Tech Schema
$t-light-grey: #E5E5E5;
$t-grey: #B1B1B1;
$t-concrete: #515A5F;
$t-black: #040404;

// Heart Tech Schema
$hrt-grey: #DDD9D4;
$hrt-blue: #003A5B;
$hrt-purple: #786491;
$hrt-pink: #D59EEF;
$hrt-white: #F0EEEE;

// Avid Tech Schema
$avt-grey: #C0CACF;
$avt-brow: #434237;
$avt-blue: #4183A6;
$avt-light-grey: #EBEDEE;
$avt-white: #F4F4F4;