/*------------------------------------*\
  Helpers
\*------------------------------------*/

.cf {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.flexboxtweener,
.flexboxtweener>body {
  height: 100%;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: block;
}

.is-visible-x {
  display: inline-block;
}

@mixin flex-body {
  min-height: 100vh;
  /**
  * Making the <body> element behave like a flexbox container:
  */

  /* Ye Olde Flexbox for Webkit */
  display: -webkit-box;
  /* Tweener flexbox */
  display: -ms-flexbox;
  /* Prefixed "new flexbox" */
  display: -webkit-flex;
  /* unprefixed standard "new flexbox" version */
  display: flex;

  /**
  * Making the things inside <body> line up vertically
  */

  /* Your grandparents flexbox for Webkit */
  -webkit-box-orient: vertical;
  /* Prefixed new syntax: */
  -webkit-flex-direction: column;
  /* Same syntax for weird IE tweener */
  -ms-flex-direction: column;
  /* unprefixed new syntax */
  flex-direction: column;
}

button,
.btn {
  padding: em(10) em(20);
  display: inline-block;
  border: 0;
  @include transition(all 0.2s ease-in-out);
}