/*------------------------------------*\
  Contact Styles
\*------------------------------------*/

input,
textarea {
  background: $cm-ablue;
  color: $cm-agrey;
  border: 2px solid $cm-ablue;
  outline: none;
  width: 100%;
  margin-top: em(10);
  padding: em(10) em(15);
  letter-spacing: 1.5px;

  &:-webkit-autofill {
    box-shadow: 0 0 0px 1000px $cm-ablue inset;
    -webkit-text-fill-color: $cm-white;
  }

  &.error {
    border: 2px solid lighten($cm-ared, 10);
    color: lighten($cm-ared, 10);
  }
}

textarea {
  resize: none;
  height: em(190)
}

label {
  color: $cm-ared;
  display: block;
  font-size: em(14);
}

.contact-area,
.contact-sidebar {
  position: relative;
  @extend .cf;

  @include media($mobile) {
    @include span-columns(4);
  }

  @include media($tablet) {
    @include span-columns(8);
  }

  @include media($desktop-x) {
    @include span-columns(6);
  }

}

.contact-area__errors {
  position: relative;
  display: inline-block;
  width: 70%;
}

.btn-contact__send {
  background: $cm-ablue;
  color: $cm-agrey;
  border: 2px solid $cm-ablue;
  text-transform: uppercase;
  margin: em(10) 0;
  font-weight: 400;
  letter-spacing: 1.5px;
  &:hover {
    background: $cm-agrey;
    color: $cm-ablue;
    border: 2px solid $cm-ablue;
  }

  @include media($mobile) {
    @include span-columns(4);
  }

  @include media($tablet) {
    @include span-columns(8);
  }

  @include media($desktop-x) {
    position: absolute;
    right: 0;
  }
}