<footer class="main-footer" role="contentinfo">
  <div class="wrapper">

    <small class="main-footer__copyright">&copy; <%= Time.now.year %> - Criado e desenvolvido por <a href="http://lucas.ninja">Lucas da Silva</a></small>

  </div>
</footer>