<footer class="main-footer" role="contentinfo">
  <div class="wrapper">

    <section class="supporting-cast">
      <ul class="supporting-cast__list">
        <li class="supporting-cast__item"><a href="#" class="supporting-cast_link">Alpha</a></li>
        <li class="supporting-cast__item"><a href="#" class="supporting-cast_link">Bravo</a></li>
        <li class="supporting-cast__item"><a href="#" class="supporting-cast_link">Charlie</a></li>
      </ul>
    </section>

    <section class="main-footer__info">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium sit fugit, voluptate dolor enim, iusto voluptas voluptates aspernatur debitis beatae sint quaerat commodi earum tempore necessitatibus? Culpa fugit sed quis!</p>
    </section>

    <small class="main-footer__copyright">&copy; <%= Time.now.year %> - Criado e desenvolvido por <a href="http://lucas.ninja">Lucas da Silva</a></small>

  </div>
</footer>