<footer class="main-footer" role="contentinfo">
  <div class="wrapper">

    <section class="supporting-cast">
      <ul class="supporting-cast__list">
        <li class="supporting-cast__item"><a href="#" class="supporting-cast_link">Alpha</a></li>
        <li class="supporting-cast__item"><a href="#" class="supporting-cast_link">Bravo</a></li>
        <li class="supporting-cast__item"><a href="#" class="supporting-cast_link">Charlie</a></li>
      </ul>
    </section>

    <small class="main-footer__copyright">&copy; <%= Time.now.year %></small>

  </div>
</footer>