<footer class="main-footer" role="contentinfo">
  <div class="wrapper">

    <div class="footer-alpha__content">
      <section class="footer-section__info">
        <h3 class="footer-section__title">Menu</h3>
        <nav class="footer-nav" id="footer-nav" role="navigation">
          <div class="footer-nav__wrapper">
            <ul class="footer_nav__list">
              <li class="footer-nav__item"><a href="/" class="footer-nav__link">Home</a></li>
              <li class="footer-nav__item"><a href="/sobre" class="footer-nav__link">Sobre</a></li>
              <li class="footer-nav__item"><a href="/historia" class="footer-nav__link">História</a></li>
              <li class="footer-nav__item"><a href="/acervo" class="footer-nav__link">Acervo</a></li>
              <li class="footer-nav__item"><a href="/contato" class="footer-nav__link">Contato</a></li>
            </ul>
          </div>
        </nav>
      </section>

      <section class="footer-section__info">
        <h3 class="footer-section__title">Colabore</h3>
        <nav class="footer-nav__sub">
          <div class="footer-nav__wrapper">
            <ul class="footer-nav__list">
              <li class="footer-nav__item"><a href="https://github.com/museudocomputador" class="footer-nav__link">GitHub</a></li>
              <li class="footer-nav__item"><a href="https://github.com/museudocomputador/bugs/issues" class="footer-nav__link">Reportar bugs</a></li>
            </ul>
          </div>
        </nav>
      </section>

      <section class="footer-section__info">
        <h3 class="footer-section__title">Apoio</h3>
        <ul class="sponsor-list">
          <li class="sponsor-list__item">
            <a href="http://www.catolicasc.org.br/" target="_blank">
              <%= image_tag "logos/catolicasc.png", :class => 'sponsor-list__img sponsor-catolicasc' %>
            </a>
          </li>
        </ul>
      </section>
    </div>

    <small class="main-footer__copyright">&copy; <%= Time.now.year %> - Criado e desenvolvido por <a href="http://lucas.ninja">Lucas da Silva</a></small>

  </div>
</footer>