<header class="main-header" role="banner">
  <div class="wrapper">
    <a href="#" class="site-logo">Museu do Computador</a>
    <nav class="site-nav" role="navigation">
      <ul class="site_nav__list">
        <li class="site-nav__item"><a href="/sobre" class="site-nav__link">Sobre</a></li>
        <li class="site-nav__item"><a href="/acervo" class="site-nav__link">Acervo</a></li>
        <li class="site-nav__item"><a href="/linha-do-tempo" class="site-nav__link">Linha do Tempo</a></li>
        <li class="site-nav__item"><a href="/contato" class="site-nav__link">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>