<header class="main-header" role="banner">
  <div class="wrapper">
    <div class="main-header__logo">
      <a href="/" class="site-logo">
        <%= render 'layouts/logo' %>
        <span class="site-logo__text">Museu do <br> Computador</span>
      </a>
    </div>
    <div class="nav-toggle" id="nav-toggle">
      <span></span>
    </div>
    <nav class="site-nav" id="site-nav" role="navigation">
      <div class="site-nav__wrapper">
        <ul class="site-nav__list">
          <li class="site-nav__item"><a href="/sobre" class="site-nav__link">Sobre</a></li>
          <li class="site-nav__item"><a href="/acervo" class="site-nav__link">Acervo</a></li>
          <li class="site-nav__item"><a href="/linha-do-tempo" class="site-nav__link">Linha do Tempo</a></li>
          <li class="site-nav__item"><a href="/contato" class="site-nav__link">Contato</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>