<header class="main-header" role="banner">
  <div class="wrap">
    <a href="/" class="logo">
      <h1>Museu do Computador</h1>
    </a>
    <nav class="main-menu">
      <ul>
        <li><a href="/sobre">Sobre</a></li>
        <li><a href="/colecao">Coleção</a></li>
        <li><a href="/linha-do-tempo">Linha do Tempo</a></li>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </nav>
  </div>
</header>